# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# Local Environment & Secrets
.env
venv/
env/
.venv/

# Local databases & logs
*.log
data/reports/*.html
data/cognitive.db
